@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Inter:wght@300&family=Libre+Baskerville:ital@0;1&family=Poppins&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    color: #898D9A;
}
body{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
   

    
}
#mainparent{
    background-image:url("background2.jpg") ;
    width: 100%;
    height: 600px;
    background-size: 40%;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position-x:right;


}
nav{
    background-color: #111317;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    font-weight: 800;
    font-size: 14px;
   
}

.contents-to-left{
    display: flex;
    justify-content: space-around;
    width: 790px;
    margin-top: 5px;
    margin-left: 80px;
}


.contents-to-right{
    display: flex;
    justify-content: space-around;
    width: 295px;
    margin-top: 5px;
}

.log-in{
    width: 65px;
    height: 28px;
    margin-top: -5px;
    background-color: #111317;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    
}
.sign-Up{
    width: 65px;
    height: 28px;
    margin-top: -5px;
    border-radius: 5px;
    background-color: #009F81;
    border: none;
    color: white;
  
    
}

#semrushicon{
    width: 140px;
    
}

.secondnavbar{
    background-color: white;
    width: 100%;
    height: 63.2px;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  

}
.text1{
    color: black;
    
}

.contentleftsecondnavbar{
    color: black;
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin-top: 20px;
    margin-left: 9px   ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    
}
.parentright{
    display: flex;
   
   margin-left: 575px;
}
.contentrightsecondnavbar{
    display:flex ;
    width: 90px;
    justify-content: space-around;

}
.mailicon{
    width: 22px;
}
.toptexts{
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 768px;
    margin-top: 20px;
}
.textt{
    color: black;

}
#checktraffic{
   display: flex;
   justify-content: center;
   justify-content: space-around;
   margin-top:50px;
   width: 765px;
   margin-left: 200px;
}
.inputfield{
    width:500px;
    height:55px;
    border-radius: 5px;
    border: 1px solid rgb(180, 179, 179);
}

.traffic{
    width:220px;
    border-radius: 5px;
    background-color: #ff642d;
    color: white;
    font-size: 20px;
    border: none;
}
::placeholder{
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#websitecard{
    background-color: white;
    height: 290px;
    width: 1050px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: block;
    justify-content: center;
    margin-left: 14%;
  padding-left: 50px;
  padding-top: 30px;
  margin-top: 40px;
}


h2{
    color: black;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}
.textinsidecard{
    display: flex;
    text-align: justify;
    width: 10px;
    
}
.orangetext{
    color: #FF642C;
}
.context{
    width: 790px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25PX;
}

.selecttags{
    padding-left: 08px;
    margin-top: 40px;
}

select{
    padding: 18px;
    width: 370px;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    border: 1px solid #c6c6c7;
}






/* FOOTER */
/* FIRST COMPLETE DIV */
.main{
    padding: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
/* FOR BUTTON AND ADDRESS */
.mail{
   
    display: flex;
    justify-content: space-between;
    width: 550px;
}
img{
    width: 18px;
}


.contact{
    
    width: 168px;
    height: 42.4px;
    border-radius: 5px;
    background-color: #111317;
    color: #898D9A;
    font-weight: bold;
    border: 1px solid #898d9a;

}
.address{
    margin-top: 12px;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

.one{
    background-color: #111317;
    height: 80vh;
    margin-top: 10%;
}

.greenbutton{
background-color: #009F81;
width: 338px;
height: 42.4px;
color: white;
border: 1px solid #009F81;
font-size:16px;
border-radius: 5px;
}
.pricing{
    text-align: center;
    line-height: 40.5px;
    font-size: 12px;
    font-weight:900;
}
.green{
    display: block;
    align-items: center;
    justify-content: center;
}


.mainparentdiv{
display: flex;
justify-content: center;
}

.parentdiv{
    display: flex;
    justify-content: space-around;
    line-height: 25px;
    font-size: 12px;
    width: 1270px;
}
.headline{
    color: white;
    font-weight: bold;
    
}
.texts1{
    font-weight: 800;
}

.down{
     width: 100%;
    margin-top: 15px;
    display: block ;
    align-items: center;
}
.mostvisited{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 0px;
    margin-left: 13%;
    text-align: left;
    

}
table{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    line-height: 32px;
    color: black;
    margin: auto;
    padding: 80px;
    /* width: 20px; */
}
th{ border-bottom: 
    1px solid rgb(0, 0, 0);
    color: black;
    text-align:initial;
}
td{
    padding: 10px 70px;
   
    border-bottom: 1px solid rgb(185, 185, 185);
    color: black;
  
    
}
.earth{
    background-color:#FEE3D6 ;
    padding: 2px;
    border-radius: 5px;
   
}
